<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--  LOG GENERAL ROTATIVE FOR DAY -->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/info/app-log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%class.%method:%line] - %message%newline%exception" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="INFO" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <!-- LOG ERRORS -->
  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/error/error-log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%class.%method:%line] - %message%newline%exception" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <!-- WARNINGS LOGS -->
  <appender name="WarningFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/warn/warn-log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%class.%method:%line] - %message%newline%exception" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="WARN" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <!-- CONSOLE LOG-->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%class.%method:%line] - %message%newline%exception" />
    </layout>
  </appender>

  <!-- ROOT LOGGER -->
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="ErrorFileAppender" />
    <appender-ref ref="WarningFileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
